 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>소개</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> 안녕하세요. 저는 두루안에 재직중인 김솔지입니다.</p>
                </div>
                <div class="col-lg-4">
                    <p>문서보안개발실의 실원으로써 ShadowCube 제품의 개발 및 유지보수에 업무를 담당하고 있습니다. </p>
                </div>
            </div>
        </div>
    </section>
